.form{
    align-self: center;
    padding:2rem;
    color:var(--primary-font-color);
    h1{
        text-align: center;
        font-size: 2rem;
    }
    
    .forgot-password{
        padding: 0.50rem;
        display: block;
        text-align: center;
    }
    
}