.button{
    width:6rem;
    height:2rem;
    margin:0.1rem;

    &.primary{
        background-color: lightblue;
    }
    &.danger{
        background-color: lightcoral;
    }
    &.success{
        background-color: green;
    }
    &.secondary{
        background-color: #61DAFB;
    }
}