.header{
    width:100%;
    display: flex;
    border:1px solid;
    justify-content: space-between;
    padding: 1rem;
    .search{
        display: flex;
        margin-right: 2rem;
        Button,Select,Input{
            padding:0.25rem;
        }
        Select{
            padding: 0.30rem;
        }
    }
    
}