.header-container
{
    margin:1rem 2rem;
    display: flex;
    justify-content: space-between;
    padding:1rem;
    border-bottom: 1px solid ;
    background-color: var(--secondary-header-color);
    
}