.login-container {
    width: 50%;
    height: 50%;

    .login-input,
    .login-submit-btn {
        display: block;
        width: 20rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
    }

    .login-submit-btn {
        cursor: pointer;
        margin-top: 1.4rem;
        background-color: var(--secondary-button-color);
        color:var(--primary-font-color)
    }
}
.login-input,
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}